# OS- and app-specific files
*DS_Store*
.vscode/**

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# npm
package-lock.json

# npm logs
npm-debug.log

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
cucumber-report.*

# dotenv environment variables file
.env

# puppeteer
tests/chromedriver

### ALKiln testing
# Files generated as artifacts/results of tests
/_alkiln_test*
/alkiln_test*
/runtime_config.json
error*.jpg
screenshot_*.jpg
# Running report logs
/debug_log.txt
# Feature files that gets temporarily generated
/*.feature
